.info-card {
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.05);
  margin-bottom: 30px;
  font-family: Inter, sans-serif;
}

.info-card h2 {
  font-size: 22px;
  margin-bottom: 25px;
}

/* FORM */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group label span {
  color: red;
}

input,
select {
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid #eee;
  font-size: 14px;
}

/* GRID */
.form-row {
  display: grid;
  gap: 20px;
  margin-bottom: 22px;
}

.form-row.two {
  grid-template-columns: repeat(2, 1fr);
}

.form-row.three {
  grid-template-columns: repeat(3, 1fr);
}
